.welcome {
  margin-top: 60px;
  text-align: center;
}
.welcome h1 {
  font-size: 20px;
  font-weight: 600;
}
.chunsik-img {
  width: 40%;
}
.welcome h3 {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.login_form__wrap {
  flex-direction: column;
  justify-content: ;
}
.login_form {
  flex-direction: column;
  width: 100%;
}
.login_form input {
  width: 90%;
  transition: border 0.3, background 0.3;
  transition-timing-function: ease-in-out;
}

.outline {
  width: 90%;
  border: none;

  padding: 13px;

  font-weight: 600;
}

.login__text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}
.login__text:focus {
  outline: none;
  border-bottom: 1px solid var(--default-color);
  opacity: 1;
}

.login__btn {
  margin-top: 10px;
  cursor: pointer;
}

.login__btn:focus {
  background: var(--default-color);
}

.login__btn:first-child {
  margin-top: 30px;
}
small {
  width: 60%;
  margin-top: 15px;
  font-size: 13px;
  justify-content: space-around;
}
